[submodule "nokia_lcd/components/Adafruit_PCD8544"]
	path = nokia_lcd/components/Adafruit_PCD8544
	url = https://github.com/adafruit/Adafruit-PCD8544-Nokia-5110-LCD-library.git
[submodule "nokia_lcd/components/Adafruit_GFX"]
	path = nokia_lcd/components/Adafruit_GFX
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
[submodule "nokia_lcd/components/arduino-esp32"]
	path = nokia_lcd/components/arduino-esp32
	url = https://github.com/espressif/arduino-esp32.git
